@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: radial-gradient(circle at left center, transparent, rgba(0, 0, 0, 0.8));
    filter: blur(20px); /* Adjust the blur radius as needed */
    z-index: -1;
  }
  
  .image-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: radial-gradient(circle at right center, transparent, rgba(0, 0, 0, 0.8));
    filter: blur(20px); /* Adjust the blur radius as needed */
    z-index: -1;
  }
  

  
  